* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a,
img {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%; }

#wrap {
  width: 100%;
  height: 50%;
  position: relative;
  margin: 20px auto;
  border: 1px solid #ddd; }

#list {
  width: 100vw;
  height: 30vw;
  position: relative; }
  #list li {
    position: absolute;
    left: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in; }
  #list li.block {
    opacity: 1; }

#option {
  width: 100px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  #option li {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 1px solid #fff; }
  #option li.active {
    background: skyblue; }

#btn a {
  width: 40px;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -30px; }

#btn a.prev {
  left: 0; }

#btn a.next {
  right: 0; }

